#root {
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100dvh;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

[class*="-screen"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: auto;
  height: 100%;
  width: 100%;
  gap: 3.5rem;
}

.controls {
  display: flex;
  gap: 1rem;
}
