fieldset {display: flex;
width: 100%;
justify-content: space-evenly;
align-items: center;
padding: 1rem;
border: 1px solid #ccc;
border-radius: 8px;
margin-block: 2rem;}

legend {
text-align: left;
padding-inline: 1rem;
}

label {text-align: left;}